VITE_API_BASE_URL=http://193.136.62.78:8000
VITE_JOB_ORCHESTRATOR_API_URL=http://193.136.62.78:8011
VITE_COMMUNITY_API_MODE=mock
VITE_COMMUNITY_API_URL=http://localhost:8000
VITE_ACCESS_API_URL=http://localhost:8001
VITE_TELEMETRY_PROFILE_API_URL=http://localhost:8002
VITE_SIMULATION_DATA_PROVIDER=backend
VITE_PREDICTOR_API_URL=http://193.136.62.78:8006
VITE_KPI_API_URL=http://193.136.62.78:8007
